<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
<<<<<<< HEAD
    <!-- <link rel="stylesheet" href="/css/homestyle.css"> -->
=======
    <link rel="stylesheet" href="/css/about.css">
    <!-- <link rel="stylesheet" href="/css/homestyle.css"> -->
    <script src="/js/about.js" defer></script>

>>>>>>> 2b05a9d (Adding About Page)
    <script src="/js/script.js" defer></script>
    <script src="/js/calendar.js" defer></script>
    <script src="/js/time.js" defer></script>
    <script src="/js/bg_effect.js" defer></script>


<<<<<<< HEAD
=======

>>>>>>> 2b05a9d (Adding About Page)
    <!-- <script src="/js/chess.js" defer></script> -->


    <title>Marko Portfolio</title>
</head>
<header class="header">
    <div class="header__content">
        <a href="#" class="logo"><span class="logobracket">{</span> <span class="logoname">Marko Schoonraad</span> <span class ="logobracket">}</span></a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav_item">
                    <a href="/" class="nav__link">Index</a>
                </li>
                <li class="nav_item">
                    <a href="/about" class="nav__link">About</a>
                </li>
                <li class="nav_item">
                    <a href="/projects" class="nav__link">Projects</a>
                </li>
                <li class="nav_item">
                    <a href="/contact" class="nav__link">Contact</a>
                </li>
                <li class="nav_item">
                    <a href="/blog" class="nav__link">Blog</a>
                </li>
                <li class="nav_item">
                    <a href="/home" class="nav__link">Home</a>
                </li>
            </ul>
        </nav>
        <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>

</header>
<body>

