

<%- include('partials/header.ejs') %>

<main class="blogMain">
    <h2>My Blog</h2>
    <div>
        <form>
            <label for="blogHead">Heading</label> <br>
            <input type="text" id="blogHead" name="blogHead"> <br>
            <label for="blogContent">Blog</label> <br>
            <textarea id="blogContent" name="blogContent"></textarea>
        </form>
    </div>
</main>
<section class="sidebarLeft"></section>
<section class="sidebarRigth"></section>


<%- include('partials/footer.ejs') %>