:root {
<<<<<<< HEAD
    --background-color: #f0dfc8;  /* Define your color */
    --primary-color: #51abb2;
    --offbrown-color: #795833;
    --secondary-color: #e16539;
    --text-color: #303030;
    --tertiary-color: #ffb1a5;

    --bracket-color: #FFDE59;
    --function-color: #FFDE59;
    --comment-color: #3DD002;
=======
    --background-color: #001f3d;  /* Define your color */
    --primary-color: #013953;
    --primary-sec-color:#045174;
    --primary-ter-color:#3b769b;
    --secondary-color: #af5b00;
    --secondary-sec-color: #e87a00;
    --secondary-ter-color: #f8dcbf;

    --text-color: white;

    --bracket-color: #FFDE59;
    --function-color: #FFDE59;
    --comment-color: #33a208;
>>>>>>> 2b05a9d (Adding About Page)


    font-family: 'JetBrains Mono', 'Inter', 'sans-serif';


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.logoname {
<<<<<<< HEAD
    color: var(--primary-color);
=======
    color: whitesmoke;
>>>>>>> 2b05a9d (Adding About Page)
    text-shadow: 1px 2px 1.5px var(--offbrown-color);

}

.logobracket {
    color: var(--bracket-color);
    text-shadow: 2px 2px var(--secondary-color);

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

body {
    background-color: var(--background-color);
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}

.logo {
    /* color: var(--primary-color); */
    font-size: 23px;
    letter-spacing: -1.5px;
    font-weight: 500;

}

.nav {
    transition: all 0.3s ease-in-out;
}

.nav__list {
    display: flex;
    column-gap: 40px;
}

.nav__link {
<<<<<<< HEAD
    color: var(--primary-color);
=======
    color: whitesmoke;
>>>>>>> 2b05a9d (Adding About Page)
    font-size: 15px;
    transition: all 0.4s;
}

.nav__link:hover,
.nav__link:focus {
    color: var(--tertiary-color);
}

.nav__item {

}

.hamburger {
    display: none;
}

.bar {
    height: 2px;
    width: 27px;
    background-color: var(--background-color);
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2){
    opacity: 0;
}
.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: var(--text-color);
    text-align: center;
    height: 60px;
    align-items: center;
}

footer div {
    position: relative;
    top: 50%;
}

@media (max-width: 650px) {
    .nav {
        position: fixed;
        top: 60px;
        left: 0;
        background-color: var(--secondary-color);
        box-shadow: inset 0 0 250px 0px var(--tertiary-color);
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

    }


    .nav__link {
        font-size: 14px;
        color: var(--text-color);
    }

    .hamburger {
        display: block;
        background-color: var(--primary-color);
    }
}